<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <title>vue-todolist</title>
</head>
<body>

    <div id="app">
        
        <img src="img/logo.png" alt="logo">

        <div>
            <input id="reset" v-model="note" v-on:keyup.enter="pushList" placeholder="Scrivi una nota">
            <button @click="pushList">Aggiungi</button>
        </div>

        <div class="box-list">
            <ul>
                <li v-for="el in noteList" id="li-element">{{el}}<i class="fa fa-times" @click="delete" aria-hidden="true"></i></li>
            </ul>
        </div>

    </div>

    <script src="js/script.js"></script>
</body>
</html>
